body{
    font-family: Arial, sans-serif;
    background: #f8f9fa;
}

.navbar{
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.hero{
    height: 100vh;
    background:
    linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
    url('../img/bg.jpg');

    background-size: cover;
    background-position: center;

    color:white;
}

.hero h1{
    font-size:60px;
    font-weight:bold;
}

.card{
    border:none;
    border-radius:15px;
}

.card:hover{
    transform:translateY(-5px);
    transition:0.3s;
}

footer{
    margin-top:100px;
}